<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<template>
  <button
    class="rounded px-2 h-9 align-middle bg-yellow-700 border border-yellow-600 transition-colors hover:bg-yellow-800"
  >
    <slot></slot>
  </button>
</template>
