<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<script setup lang="ts">
import { icons } from "feather-icons";
import { ref } from "vue";

const chevronDown = icons["chevron-down"].toSvg();

const isOpen = ref(false);
const dropdownVisible = ref(false);

const props = defineProps<{
  modelValue: string;
  options: { value: string; title: string }[];
}>();

const emit = defineEmits<{
  (event: "update:modelValue", value: string): void;
}>();

function setValue(value: string) {
  isOpen.value = false;
  emit("update:modelValue", value);
}
</script>

<template>
  <div class="relative">
    <button
      class="relative w-full text-left px-2 rounded h-9 leading-9 bg-zinc-800 text-sm focus:outline-none flex items-center"
      :class="{ 'rounded-b-none': dropdownVisible }"
      @click="isOpen = !isOpen"
    >
      {{ options.find((o) => o.value === modelValue)?.title }}
      <div
        v-html="chevronDown"
        class="ml-auto transform transition-transform"
        :class="{ 'rotate-180': isOpen }"
      ></div>
    </button>
    <Transition
      name="dropdown"
      @before-enter="dropdownVisible = true"
      @after-leave="dropdownVisible = false"
    >
      <div
        v-if="isOpen"
        class="rounded-b overflow-hidden absolute bottom-0 left-0 w-full bg-zinc-800 border-t border-zinc-700 transform translate-y-full flex flex-col"
      >
        <button
          v-for="opt in options"
          :key="opt.value"
          class="px-2 leading-9 text-sm hover:bg-zinc-700 text-left"
          @click="setValue(opt.value)"
        >
          {{ opt.title }}
        </button>
      </div>
    </Transition>
  </div>
</template>

<style scoped>
.dropdown-enter-active,
.dropdown-leave-active {
  @apply transition-clip-path;
}

.dropdown-enter-from,
.dropdown-leave-to {
  clip-path: inset(0 0 100% 0);
}

.dropdown-enter-to,
.dropdown-leave-from {
  clip-path: inset(0 0 0% 0);
}
</style>
