<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<script setup lang="ts">
import { computed } from "vue";
import { icons } from "feather-icons";

const props = defineProps<{
  icon: string;
}>();

const iconHtml = computed(() => icons[props.icon].toSvg());
</script>

<style module>
.iconButton {
  @apply transform transition-transform;
}

.iconButton:hover {
  @apply scale-105;
}
</style>

<template>
  <button
    class="w-12 h-12 rounded-full bg-zinc-900 border border-zinc-800 hover:border-zinc-700 transition-colors flex items-center justify-center"
    :class="$style.iconButton"
    v-html="iconHtml"
  ></button>
</template>
