<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<script lang="ts" setup>
import { computed, onBeforeUnmount, ref } from "vue";
import native from "../native-api";

const bytesDownloaded = ref(0);
const bytesTotal = ref(0);
const speed = ref(8 * 1024 * 1024);
const remainingTime = computed(
  () => (bytesTotal.value - bytesDownloaded.value) / speed.value
);

native.downloader
  .onProgressUpdate((progress) => {
    bytesTotal.value = progress.payload.totalBytes;
    bytesDownloaded.value = progress.payload.downloadedBytes;
  })
  .then((unlisten) => onBeforeUnmount(unlisten));

native.downloader.start({ verify: false });

function formatDuration(seconds: number): string {
  const minutes = seconds / 60;
  if (minutes < 0.75) {
    return "Less than a minute";
  } else if (Math.round(minutes) === 1) {
    return "1 minute";
  } else {
    return `${minutes.toFixed(0)} minutes`;
  }
}
</script>

<template>
  <div class="flex flex-col space-y-2">
    <div>Downloading game files</div>
    <div
      class="relative h-6 bg-zinc-900 border border-zinc-800 rounded overflow-hidden"
    >
      <div
        class="bg-zinc-200 h-full w-full transition-transform duration-500 ease-linear"
        :style="{
          transform: `translateX(${
            (bytesDownloaded / bytesTotal) * 100 - 100
          }%)`,
        }"
      ></div>
    </div>
    <div class="flex justify-between">
      <span class="tabular-nums">
        {{ (bytesDownloaded / (1024 * 1024)).toFixed(0) }} MiB /
        {{ (bytesTotal / (1024 * 1024)).toFixed(0) }} MiB ({{
          (speed / (1024 * 1024)).toFixed(1)
        }}
        MiB/s)
      </span>
      <span class="tabular-nums">
        {{ formatDuration(remainingTime) }} remaining
      </span>
    </div>
  </div>
</template>
