<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<script setup lang="ts">
import { onBeforeUnmount, ref } from "vue";

const IMAGE_LIST_URL =
  "https://launcher-assets.sparkserver.io/backgrounds.json";

const warmupBackground = ref();
const activeBackground = ref();
const imageList = ref([]);
const activeTimer = ref();

function selectRandomBackground(): string {
  const bg =
    imageList.value[Math.floor(Math.random() * imageList.value.length)];
  const url = new URL(bg, IMAGE_LIST_URL);
  return url.href;
}

fetch(IMAGE_LIST_URL)
  .then((r) => r.json())
  .then((r) => {
    imageList.value = r.images;
    warmupBackground.value = selectRandomBackground();
  });

function switchBackground() {
  activeBackground.value = warmupBackground.value;

  while (true) {
    const bg = selectRandomBackground();
    if (warmupBackground.value !== bg) {
      warmupBackground.value = bg;
      break;
    }
  }
}

function warmupBgLoaded() {
  if (!activeBackground.value) {
    switchBackground();
  } else {
    activeTimer.value = setTimeout(switchBackground, 60000);
  }
}

onBeforeUnmount(() => clearTimeout(activeTimer.value));
</script>

<template>
  <div class="relative bg-black">
    <img
      v-if="warmupBackground"
      class="hidden"
      :src="warmupBackground"
      @load="warmupBgLoaded"
    />
    <Transition name="background" mode="in-out">
      <div
        v-if="activeBackground"
        :key="activeBackground"
        class="absolute top-0 left-0 w-full h-full bg-cover filter brightness-50"
        :style="{ 'background-image': `url(${activeBackground})` }"
      ></div>
    </Transition>
  </div>
</template>
