<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<script setup lang="ts">
import { Ref, ref } from "vue";
import { icons as featherIcons } from "feather-icons";
import { open } from "@tauri-apps/api/shell";
import IconButton from "./ui/IconButton.vue";

const SERVERS_URL = "https://launcher-assets.sparkserver.io/servers.json";

interface ExtraLink {
  title: string;
  url: string;
  icon: string;
}

const extraLinks: Ref<ExtraLink[]> = ref([]);

fetch(SERVERS_URL)
  .then((r) => r.json())
  .then((r) => {
    extraLinks.value = r.servers.sparkserver.extraLinks;
  });
</script>

<template>
  <div class="flex-col space-y-4 pt-4">
    <div v-for="(link, i) in extraLinks" :key="i" class="relative">
      <IconButton
        :icon="link.icon.replace('feather:', '')"
        :class="$style.socialLinkButton"
        @click="open(link.url)"
      />
      <div :class="$style.buttonTooltip">{{ link.title }}</div>
    </div>
  </div>
</template>

<style module>
.buttonTooltip {
  @apply opacity-0 absolute top-1/2 right-0 transform translate-x-full -translate-y-1/2 -mr-2;
  @apply rounded bg-zinc-900 border border-zinc-800 px-2 py-1;
  @apply transition-opacity;
  @apply text-sm;
}

.socialLinkButton:hover ~ .buttonTooltip {
  @apply opacity-100;
}
</style>
