<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<script setup lang="ts">
import { icons } from "feather-icons";
import { defineEmits, ref } from "vue";
import { getVersion, getTauriVersion } from "@tauri-apps/api/app";
import Button from "./ui/Button.vue";
import IconButton from "./ui/IconButton.vue";
import Dropdown from "./ui/Dropdown.vue";
import Input from "./ui/Input.vue";
import nativeApi from "../native-api";

const catalystVersion = ref("0.0.0");
const tauriVersion = ref("0.0.0");
const settings = ref({
  gamePath: "",
});

(async () => {
  catalystVersion.value = await getVersion();
  tauriVersion.value = await getTauriVersion();
  settings.value = await nativeApi.settings.getSettings();
})();

const xIcon = icons.x.toSvg();

const emit = defineEmits<{
  (event: "close"): void;
}>();
</script>

<template>
  <div
    class="fixed top-0 left-0 w-screen h-screen text-zinc-100 bg-zinc-900 flex justify-center"
  >
    <div
      class="relative w-[640px] p-8 pb-16 flex flex-col overflow-hidden space-y-4"
    >
      <div class="flex">
        <h1 class="text-4xl font-light">Settings</h1>
        <IconButton class="ml-auto" icon="x" @click="emit('close')" />
      </div>
      <div class="space-y-2">
        <label>Game directory</label>
        <Input :value="settings.gamePath" disabled />
      </div>

      <div class="flex space-x-4">
        <Button class="flex-1">Verify game files</Button>
        <Button class="flex-1">Move game directory</Button>
      </div>

      <div class="flex space-x-4">
        <div class="flex-1 space-y-2">
          <label>Launcher language</label>
          <Dropdown
            :options="[{ value: 'en', title: 'English' }]"
            model-value="en"
          />
        </div>
        <div class="flex-1 space-y-2">
          <label>Game language</label>
          <Dropdown
            :options="[{ value: 'en', title: 'English' }]"
            model-value="en"
          />
        </div>
      </div>

      <div
        class="pb-8 absolute bottom-0 left-0 w-full text-center text-sm text-zinc-400"
      >
        Catalyst {{ catalystVersion }} using Tauri {{ tauriVersion }}
      </div>
    </div>
  </div>
</template>
