<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<script setup lang="ts">
import DownloadProgress from "./components/DownloadProgress.vue";
import DynamicBackground from "./components/DynamicBackground.vue";
import ServerSocialLinks from "./components/ServerSocialLinks.vue";
import SettingsPane from "./components/SettingsPane.vue";

import Button from "./components/ui/Button.vue";
import Input from "./components/ui/Input.vue";

import { icons } from "feather-icons";
import { ref } from "vue";
import IconButton from "./components/ui/IconButton.vue";

const settingsIcon = icons.settings.toSvg();
const xIcon = icons.x.toSvg();
const infoIcon = icons.info.toSvg({ class: "w-4 h-4 mr-1" });
const showSettings = ref(false);
</script>

<template>
  <DynamicBackground class="fixed top-0 left-0 w-screen h-screen" />
  <Transition name="overlay-bg">
    <div
      v-show="!showSettings"
      class="fixed top-0 left-0 w-screen h-screen text-zinc-100 p-8 flex flex-col"
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center space-x-4">
          <img
            class="w-12 h-12 rounded-full"
            src="https://launcher-assets.sparkserver.io/servers/sparkserver.png"
          />
          <div class="text-xl">Sparkserver</div>
        </div>
        <IconButton icon="settings" @click="showSettings = true" />
      </div>
      <div class="flex-1 w-full flex items-end space-x-4">
        <div class="flex-1 h-full flex flex-col justify-between">
          <ServerSocialLinks class="self-start" />
          <DownloadProgress />
        </div>
        <div
          class="p-4 rounded bg-zinc-900 border border-zinc-800 w-[320px] space-y-4 flex flex-col"
        >
          <div class="text-2xl">Log in to your account</div>
          <div class="flex flex-col space-y-2">
            <label for="">Email</label>
            <Input type="text" />
          </div>
          <div class="flex flex-col space-y-2">
            <label for="">Password</label>
            <Input type="password" />
            <a href="#" class="text-zinc-400 underline text-sm">
              Forgot your password?
            </a>
          </div>
          <Button>Log in</Button>
        </div>
      </div>
    </div>
  </Transition>
  <Transition name="overlay">
    <SettingsPane v-if="showSettings" @close="showSettings = false" />
  </Transition>
</template>
