/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import url(@fontsource/roboto);
@import url(@fontsource/roboto/300.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-enter-active {
  @apply transition-opacity duration-1000;
}

.background-enter-from,
.background-leave-to {
  @apply opacity-0;
}

.background-enter-to,
.background-leave-from {
  @apply opacity-100;
}

.overlay-enter-active, .overlay-leave-active {
  @apply transition-all transform duration-200;
}

.overlay-enter-from, .overlay-leave-to  {
  @apply opacity-0 scale-125;
}

.overlay-enter-to, .overlay-leave-from {
  @apply opacity-100 scale-100;
}

.overlay-bg-enter-active, .overlay-bg-leave-active {
  @apply transition-all transform duration-200;
}

.overlay-bg-leave-from, .overlay-bg-enter-to  {
  @apply opacity-100 scale-100;
}

.overlay-bg-leave-to, .overlay-bg-enter-from {
  @apply opacity-0 scale-75;
}
